<div class="container mx-auto px-4 py-6 ">
  <h1 class="text-2xl font-bold mb-6">
    Projet : <span class="font-normal">Construction d'un immeuble résidentiel de 10 Étages</span>
  </h1>
    <!-- Navigation Tabs -->
    <nav class="flex border-b  bg-white  rounded-lg shadow-sm p-6 ">
      <ul class="flex space-x-10 text-lg ">
        <li [class.border-b-2]="activeTab === 'presentation'" 
            [class.border-orange-500]="activeTab === 'presentation'" 
            
            class="pb-2">
          <a (click)="setActiveTab('presentation')" class="font-medium cursor-pointer">Présentation du projet</a>
        </li>
        <li [class.border-b-2]="activeTab === 'tasks'" 
            [class.border-orange-500]="activeTab === 'tasks'"
            [class.text-orange-500]="activeTab === 'tasks'"
            class="pb-2">
          <a (click)="setActiveTab('tasks')" class="font-medium cursor-pointer">Tâches</a>
        </li>
        <li [class.border-b-2]="activeTab === 'team'" 
            [class.border-orange-500]="activeTab === 'team'"
            [class.text-orange-500]="activeTab === 'team'"
            class="pb-2">
          <a (click)="setActiveTab('team')" class="font-medium cursor-pointer">Équipe</a>
        </li>
        <li [class.border-b-2]="activeTab === 'lots'" 
            [class.border-orange-500]="activeTab === 'lots'"
            [class.text-orange-500]="activeTab === 'lots'"
            class="pb-2">
          <a (click)="setActiveTab('lots')" class="font-medium cursor-pointer">Lots et sous-traitants</a>
        </li>
        <li [class.border-b-2]="activeTab === 'documents'" 
            [class.border-orange-500]="activeTab === 'documents'"
            [class.text-orange-500]="activeTab === 'documents'"
            class="pb-2">
          <a (click)="setActiveTab('documents')" class="font-medium cursor-pointer">Documents</a>
        </li>
       
        <li [class.border-b-2]="activeTab === 'stock'" 
            [class.border-orange-500]="activeTab === 'stock'"
            [class.text-orange-500]="activeTab === 'stock'"
            class="pb-2">
          <a (click)="setActiveTab('stock')" class="font-medium cursor-pointer">Stock</a>
        </li>

        <li [class.border-b-2]="activeTab === 'signalement'" 
        [class.border-orange-500]="activeTab === 'signalement'"
        [class.text-orange-500]="activeTab === 'signalement'"
        class="pb-2">
      <a (click)="setActiveTab('alert')" class="font-medium cursor-pointer">Signalement</a>
    </li>
    <li [class.border-b-2]="activeTab === 'etude-bet'" 
    [class.border-orange-500]="activeTab === 'etude-bet'"
    [class.text-orange-500]="activeTab === 'etude-bet'"
    class="pb-2">
  <a (click)="setActiveTab('etude-bet')" class="font-medium cursor-pointer">Etude Bet</a>
</li>
      </ul>
    </nav>
  
   
  </div>

  <!-- Content based on active tab -->
  @switch (activeTab) {
    @case ('tasks') {
      <app-task-board></app-task-board>
    }
    @case ('team') {
      <app-team-list></app-team-list>
    }
    @case ('documents') {
      <app-documents></app-documents>
    }
    @case ('lots') {
      <!-- <app-lots></app-lots> -->
     <app-lots-subcontractors></app-lots-subcontractors>
    }
  
    @case ('stock') {
       <app-stock></app-stock> 

    }
    @case ('etude-bet') {
      <app-etude-bet></app-etude-bet> 

   }
     
    @case ('alert') {
     <app-project-alert></app-project-alert>
    
   }
    @case ('presentation') {
      <app-project-presentation></app-project-presentation>
      
    }
    @default {
      <div>Sélectionnez un onglet</div>
    }
  }
<!-- 
  <app-project-budget></app-project-budget> -->
  